<mat-card>
    <form [formGroup]="createNewsForm">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="newsTitle" maxlength="80"/>
            <mat-hint align="end">{{createNewsForm.value.newsTitle.length}}/80</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input matInput formControlName="newsImageUrl"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="newsMessage" rows="5" maxlength="500"></textarea>
            <mat-hint align="end">{{createNewsForm.value.newsMessage.length}}/500</mat-hint>
        </mat-form-field>
    </form>
    <div class="flex items-center">
        <button mat-flat-button color="primary" (click)="submitNews()">Submit</button>
        <span class="w-1"></span>
        <button mat-stroked-button color="primary" (click)="goBack()">Cancel</button>
    </div>
</mat-card>