<mat-card>
    <div class="flex align-start card-header">
        <img
            class="avatar mr-2"
            [src]="newsAuthor.avatar"
            [alt]="newsAuthor.name.slice(0,1)"
        />
        <div class="w-full">
            <div class="timestamp">
                {{ newsTimestamp }}
            </div>
            <div class="title">
                {{ newsTitle }}
            </div>
        </div>
    </div>
    <div class="message">
        {{ newsMessage }}
    </div>
</mat-card>